$black: #0E1116;
$blue: #2176FF;
$white: #FFFFFA;

@font-face {
  font-family: 'GTWalsheim';
  src:  url('./../fonts/fonts/gt-walsheim-bold-web.ttf') format('ttf');
}

* {
  box-sizing: border-box; 
}

body {
  margin: 0;
  font-family: 'GTWalsheim', Avenir, Arial, Helvetica, sans-serif;
  color: $white;
  display: flex;
  background-color: $black;
}

a {
  color: $blue;
}
ul {
  list-style: none;
}

section {
  padding: 50px;
  max-height: none;
  height: 100vh;
  h1 {
    font-size: 72px;
    line-height: 0.5em;
  }

  h2 {
    margin-top: 42px;
    margin-left: 16px;
    font-size: 50px;
  }

  h3 {
    font-size: 36px;
    margin: auto;
    position: relative;
    margin-left: 5em;
  } 
}

#left {
  flex: 1;
  #bottom {
    padding-top: 86px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    ul {
      text-align: end;
      font-size: 42px;
      a {
        color: $white;
      }
    }
    > a {
      font-size: 36px;
      color: $white;
      background-color: #2176FF;
      padding: 16px 32px;
      border-radius: 15px;
    }
  }
}

#right {
  color: black;
  font-size: 64px;
  background-color: white;
  padding: 50px 26px;
  ul {
    padding: 0;
  }
}

#divider {
  width: 6px;
  height: 240px;
  background-color: $blue;
  margin: 0;
}
